<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relief Express - MVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding-top:5px;">
    <div>
        <div>
            <a href="/"><img src="~/Content/medg/images/secLogo1.png" style="float:left;padding-left:50px;padding-top: 20px;" /></a>
            <div style="float:right;padding-right:40px;padding-top: 20px;margin-right: 50px;">
                @if (User.Identity.IsAuthenticated)
                {
                    <span>Hello @((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("given_name") == null ? "" : (User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("given_name").Value) </span><br />
                    <span>@((User.Identity as System.Security.Claims.ClaimsIdentity).FindFirst("role").Value)</span><br />
                    <span>@ViewBag.Address</span><br />
                    <a href="/Home/Logout" >Logout</a>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
